body {
  background-color: #deb4d1;
  background-image: url("../img/notepad.jpg");
}

.task-box {
  font-size: x-large;
  border-style: double;
  border-color: #bb8eba;
  border-width: 5px;
  border-radius: 7px;
}
